.bg-img {
	background-image: url('https://www.salemcyber.pro/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fherobg.a195f15f.png&w=3840&q=75');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
