.earth-container {
	@media (max-width: 1200px) {
		width: 400px;
		height: 500px;
		display: block;
		margin: 0 auto;
		place-self: center;
	}

	@media (max-width: 450px) {
		width: 200px;
		height: 250px;
		display: block;
		margin: 0 auto;
	}

	grid-column: 2/3;
}

.contact-form-container {
	margin-block-end: 2rem;
	background-color: rgb(16 13 37);
	padding: 10%;
	border-radius: 20px;
	grid-column: 1/2;
	grid-row: 1;

	.contact-title-main {
		font-size: rem(14px);
		letter-spacing: rem(0.7px);
		line-height: rem(21px);
		text-transform: uppercase;
		color: $clr1;
	}

	.contact-sub-tile {
		font-size: rem(40px);
		font-weight: 900;
		line-height: rem(60px);
		letter-spacing: 0.1em;
		color: white;

		@include for-mobile-layout {
			font-size: 2rem;
		}
	}

	.contact-form {
		row-gap: rem(20px);

		label {
			font-weight: 700;
			color: white;
			margin-block-end: 1rem;

			@include for-mobile-layout {
				font-size: 1rem;
				padding: 1rem;
			}
		}

		input,
		textarea {
			background-color: $clr4;
			padding: 1rem 1.5rem 1rem 1.5rem;
			margin-block-end: 1rem;
			font-weight: 700;
			border: none;
			color: white;
			border-radius: 0.5rem;
			font-size: 18px;

			@include for-mobile-layout {
				font-size: rem(14px);
				padding-block: 1rem;
				padding-inline: 0.5rem;
			}
		}

		.btn-submit {
			width: fit-content;
			border-radius: 0.75rem;
			background-color: $clr4;
			padding: 0.75rem 2rem 0.75rem 2rem;
			color: white;
			border-style: none;
			font-weight: 700;
			font-size: 18px;

			@include for-mobile-layout {
				font-size: 1rem;
			}
		}
	}

	@include for-mobile-layout {
		.contact-sub-tile {
			font-size: 2rem;
		}
	}
}
