.experience-container {
	.experience-title-main {
		font-size: rem(14px);
		letter-spacing: rem(0.7px);
		line-height: rem(21px);
		text-transform: uppercase;
		color: $clr1;
	}
	.experience-sub-tile {
		font-size: rem(40px);
		font-weight: 900;
		line-height: rem(60px);
		letter-spacing: 0.1em;
		color: white;
	}
	.experience-time-line {
		.timeline-container {
			margin-block-end: rem(35px);
			.experience-icon {
				border-radius: 50%;
			}
			.experience-details {
				.experience-title {
					color: white;
					font-weight: 900;
					font-size: rem(24px);
					margin-block-end: rem(5px);
				}
				.experience-company-name {
					color: $clr1;
					margin-block-start: 0px;
				}
				.experience-points {
					padding-inline-start: 1.25rem;
					.experience-point {
						font-size: rem(14px);
					}
				}
			}
		}
	}
}
