.hero-wrapper {
	margin-block-end: rem(100px);
	background-image: url('https://www.salemcyber.pro/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fherobg.a195f15f.png&w=3840&q=75');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-block-start: rem(140px);

	.typewriter .introduction-header {
		overflow: hidden;
		white-space: nowrap;
		animation: typing 4s steps(60, end), blink-caret 0.75s step-end infinite;
		font-size: 5rem;
		font-weight: 700;
		color: white;

		.first-name {
			color: $clr3;
		}

		@include for-mobile-layout {
			font-size: 2.5rem;
		}
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	.introduction-content {
		color: white;
		font-size: 1.5rem;
		line-height: rem(35px);

		@include for-mobile-layout {
			font-size: 1rem;
		}
	}

	.computer-wrapper {
		.scroll-down-wrapper {
			border-radius: rem(24px);
			height: rem(70px);
			border: rem(3.333px) solid $clr1;
			padding: rem(10px);
			position: absolute;
			bottom: 0;
			right: 50%;

			.rounded-dot {
				background-color: $clr1;
				border-radius: 50%;
				margin: 0px 0px 4px;
				border: 7px solid $clr1;
			}
		}
	}
}
