.main-layout {
	display: grid;
	grid-template-columns: minmax(12px, 1fr) minmax(auto, $xs-mobile-breakpoint) minmax(12px, 1fr);

	> *.full {
		grid-column: 1 / -1;
	}

	> *:not(.full) {
		grid-column: 2;
	}

	@include for-narrow-layout {
		grid-template-columns:
			minmax(20px, 1fr)
			minmax(auto, $mobile-breakpoint) //510px
			minmax(20px, 1fr);
	}
	@include for-normal-layout {
		grid-template-columns:
			minmax(20px, 1fr)
			minmax(auto, $narrow-breakpoint) //720px
			minmax(20px, 1fr);
	}
	@include for-wide-layout {
		grid-template-columns:
			minmax(20px, 1fr)
			minmax(auto, $normal-breakpoint) //960px
			minmax(20px, 1fr);
	}
}
