// Colors
$clr1: #aaa6c3;
$clr2: #050816;
$clr3: #915eff;
$clr4: #151030;

// Breakpoints
$mobile-breakpoint: 720px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1230px;
$xs-mobile-breakpoint: 510px;
