// Colors
$clr1: #aaa6c3;
$clr2: #050816;
$clr3: #915eff;
$clr4: #151030;

// Breakpoints
$xs-mobile-breakpoint: 400px;
$mobile-breakpoint: 500px;
$narrow-breakpoint: 600px;
$normal-breakpoint: 760px;
$wide-breakpoint: 920px;
$xl-breakpoint: 1230px;
